body {
  background-color: #09e3eb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #13046b;
  color: white;
  padding: 1rem;
  text-align: center;
}

section 
{
    background-color: #09e3eb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 2rem;
}

footer {
  background-color: #13046b;
  color: white;
  padding: 1rem;
  text-align: center;
}