body
{
    background-color: rgb(132, 154, 253);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 0;
    margin: 0;
}

header
{
    background-color: rgb(26, 36, 77);
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    padding: 1px;
    text-align: center;
}

section
{
    background-color: rgb(26, 36, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    padding: 20px;
    text-align: left;
    margin: 1rem auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 0.5rem;
}

li
{
    padding-left: 1rem;
    list-style-type: square;
    margin-bottom: 0.5rem;
}

ul, ol 
{
    padding-left: 1rem;
    list-style-type: square;
}

p
{
    line-height: 1.5;
}

footer
{
    background-color: rgb(26, 36, 77);
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    padding: 1px;
    text-align: center;
}